html{
    background-color: #202124;
}

.wrapper{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #202124;
}

.logo img{
    width: 270px;
    height: 90px;
    margin-top: 150px;
}

.logo a{
    cursor: pointer;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#query{
    background: #4d5157;
    width: 580px;
    height: 45px;
    border: none;
    border-radius: 0 30px 30px 0;
    color: #fff;
    
}

.input-group-text{
    background-color: #4d5157;
    border-radius: 30px 0 0 30px;
    border: none;
}



#button{
    background: #303134;
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: #fff;
}

.link-wrapper{
    background-color: #202124;
    display: flex;
    padding: 30px;
    justify-content: flex-end;
}

.link-wrapper a{
    margin: 10px;
    color: #fff;
    text-decoration: none;
}

.search-logo:hover{
    background-color: #5f6367;
    transition: 0.2s;
}

#query:hover{
    background-color: #5f6367;
    transition: 0.2s;
}

#query:focus{
    box-shadow: none;
}

#button:hover{
    border: 2px solid #5f6367;
    transition: 0.1s;
}